body {
	
}

h1 {
	padding-left: 16px;
	font-size: 32px;
	font-weight: bold;
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	margin: 19.92px 0 ;
}

p {
	text-align: center;
	margin: 16px 0;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.titulo-centralizado ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}